= render 'cappuccino/container'
#cappuccino-body
  #loadingcontainer{:style => "background-color: #eeeeee; overflow:hidden; width:100%; height:100%; position: absolute; top: 0; left: 0;"}
    #container
      #cappuccino-content
        %img#loadgraphic{:height => "16", :src => "/images/spinner.gif", :width => "16"}/
        %br/
        %strong Loading Lucid Dream TribalSketch...
